name: Python Flask Docker build.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
   
    - name: Build Docker Image
      run: docker build -t santhunaidu_docker:latest .
   
    - name: List docker images
      run: docker images

    - name: Tag the image
      run: docker tag santhunaidu_docker:latest santhunaidu/santhunaidu_docker:latest
    
    - name: login into docker hub
      run: echo "${{secrets.docker_password}}" | docker login -u "${{ secrets.docker_username }}" --password-stdin

    - name: Push Docker Image
      run: docker push santhunaidu/santhunaidu_docker:latest

    - name: Log out from Docker Hub  
      run: docker logout

