name: Python Flask Docker build.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
   
    - name: Build Docker Image
      run: docker build -t santhunaidu_docker:latest .
   
    - name: List docker images
      run: docker images

